<div class="contents row">
  <div class = "tweet_show">
    <div class= "tweet_show_user">
      <%= link_to "#{@tweet.user.nickname}さんの投稿", user_path(@tweet.user.id), class: :card__user %>
    </div>
    <div class= "tweet_show_img">
      <%= image_tag @tweet.image, class: "item-img-show" %>
    </div>
    <div class= "tweet_name"><%= @tweet.title %></div>
    <div class= "tweet_text">
      <%= @tweet.text %>
    </div>
  </div>
</div>
