<%= month_calendar events: @reservations do |date, reservations| %>
    <%= date.day %>
    <% reservations.each do |reservation| %>
      <% if reservation.user_id == nil %>
        <%= link_to edit_users_reservation_path(reservation.id) do %>
          <%= reservation.start_time.strftime("%H:%M") %>
          <div class= "yoyakukanou">
          ◎
          </div>
        <% end %>
      <% end %>
    <% end %>
<% end %>