.index_header {
  height: 70vh;
  width: 100%;
  max-width: 100%;
  background-image:image-url('top1.jpg');
  background-size:contain;
  display: flex;
}

label[for="q_genre_ancestry_in_1"] {
  background-image:image-url("和食.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_14"] {
  background-image: image-url("西洋料理.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_23"] {
  background-image: image-url("中華料理.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_28"] {
  background-image: image-url("アジア料理.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_36"] {
  background-image: image-url("焼肉.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_39"] {
  background-image: image-url("nabe1.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_49"] {
  background-image: image-url("居酒屋.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_53"] {
  background-image: image-url("無国籍料理.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_57"] {
  background-image: image-url("レストラン料理.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_60"] {
  background-image: image-url("カフェ.png");
  background-size:cover;
}

label[for="q_genre_ancestry_in_63"] {
  background-image: image-url("スイーツ.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_68"] {
  background-image: image-url("bar.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_74"] {
  background-image: image-url("pab.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_76"] {
  background-image: image-url("lounge.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_78"] {
  background-image: image-url("旅館.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_80"] {
  background-image: image-url("auberge.jpeg");
  background-size:cover;
}