.index_header {
  height: 70vh;
  width: 100%;
  max-width: 100%;
  background-image:image-url('top1.jpg');
  background-size:contain;
  display: flex;
}

label[for="q_genre_ancestry_in_1"] {
  background-image:image-url("wasyoku.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_14"] {
  background-image: image-url("seiyou.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_23"] {
  background-image: image-url("tyuuka.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_28"] {
  background-image: image-url("asia.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_36"] {
  background-image: image-url("yakiniku.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_39"] {
  background-image: image-url("nabe.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_49"] {
  background-image: image-url("izakaya.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_53"] {
  background-image: image-url("mukokuseki.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_57"] {
  background-image: image-url("resutlan.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_60"] {
  background-image: image-url("cafe.png");
  background-size:cover;
}

label[for="q_genre_ancestry_in_63"] {
  background-image: image-url("sweet.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_68"] {
  background-image: image-url("bar.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_74"] {
  background-image: image-url("pab.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_76"] {
  background-image: image-url("lounge.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_78"] {
  background-image: image-url("ryokan.jpeg");
  background-size:cover;
}

label[for="q_genre_ancestry_in_80"] {
  background-image: image-url("auberge.jpeg");
  background-size:cover;
}