header {
  height: 20vh;
  width: 100vw;
  background-color: aquamarine;
}

.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-top: 40px;
}

.nav_left {
  font-size: 30px;

}
.listing-product-detail__place {
  color: aquamarine;
}

.information-box-img {
  width: 600px;
  height: 600px;
}

.item-img {
  width: 400px;
  height: 400px;
}

.has-events.simple {
  height: 300px;
}