header {
  height: 20vh;
  width: 100vw;
  background-color: aquamarine;
}

.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-top: 40px;
}

.nav_left {
  font-size: 30px;

}
.listing-product-detail__place {
  color: aquamarine;
}

