/* 領収書一覧 */
.reservation_informations {
  width: 80%;
  margin: 0 auto;
}

.reservation_informations .reservation_down_tag {
  margin-top: 20px;
  margin-bottom: -30px;
}

.reservation_deta {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.fa-clock-o {
  font-size: 25px;
}

.delete_url {
  color: #000000;
}

.recipt_information {
  width: 100%;
}

.reservation_deta {
  width: 100%;
}

.search-page__inner-right {
  width: 100%;
}

.recipt_information .calendar {
  border: 2px solid rgb(207, 207, 207);
  height: 40%;
  padding: 0;
  margin-top: 1%;
}

.information_food {
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 2px 0;
  height: 22%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.information_explanation1 {
  height: 80%;
  width: 99%;
  padding: 3px 0;
}

.information_explanation {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reservation_informations h2 {
  font-size: 25px;
  margin-top: 60px;
  border: 1px solid rgb(204, 203, 203);
  text-align: center;
  height: 150px;
  padding-top: 55px;
  border-radius: 4px;/*角の丸み*/
}

/* 領収書詳細ページ */
.receipt {
  height: 95vh;
  width: 85vw;
  padding: 50px 80px;
  margin: 15px auto 50px;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-top-color: #DADADA;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #999;
  color: #666;
}
.receipt .title {
  height: 10%;
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}
.receipt .top_section {
  height: 18%;
  margin-bottom: 40px;
  position: relative;
}
.receipt .top_section .number_content {
  font-size: 17px;
  display: flex;
  position: absolute;
  right: 0;
}
.receipt .top_section .number {
  width: 300px;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
  text-align: center;
}
.receipt .top_section .date_content {
  font-size: 17px;
  display: flex;
  position: absolute;
  top: 30px;
  right: 0;
}
.receipt .top_section .date {
  width: 300px;
  border-bottom: 1px solid #000;
  text-align: center;
}
.receipt .top_section .receiver {
  font-size: 35px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #000;
}
.receipt .top_section .receiver:after {
  content: '様';
  margin-left: 30px;
  font-size: 30px;
}
.receipt .middle_section {
  height: 35%;
  width: 70%;
  margin: 0 auto;
}
.receipt .price_content {
  height: 55%;
  margin: 0 auto;
  padding: 0 30px;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
}
.receipt .price_content .price {
  width: 60%;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}
.receipt .price_content .price:before {
  content: '¥';
}
.receipt .price_content .price:after {
  content: '-';
}
.receipt .price_content .side {
  width: 25%;
  font-size: 35px;
  text-align: center;
}

.side_tag {
  width: 25%;
  font-size: 35px;
  text-align: center;
}

.receipt .proviso_content {
  height: 23%;
  padding: 8px 75px 3px;
  border-top: 2px solid #000;
  font-size: 17px;
  display: flex;
}
.receipt .proviso_content .side {
  width: 10%;
}
.receipt .proviso_content .proviso {
  width: 90%;
  text-align: start;
}
.receipt .detail {
  width: 100%;
  height: 15%;

  padding: 8px 75px 3px;
  border-top: 2px solid #000;
  font-size: 17px;
}
.receipt .bottom_section {
  height: 25%;
  font-size: 17px;
  position: relative;
}
.receipt .bottom_section .breakdown {
  height: 100%;
  width: 23%;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 0;
}
.receipt .bottom_section .breakdown .desc {
  height: 23%;
  border-bottom: 1px solid #000;
}
.receipt .bottom_section .breakdown .excluding_tax_content {
  height: 23%;
  padding-top: 5px;
  border-bottom: 1px solid #000;
  display: flex;
}
.receipt .bottom_section .breakdown .excluding_tax_content .price {
  width: 60%;
}
.receipt .bottom_section .breakdown .excluding_tax_content .price:before {
  content: '¥';
}
.receipt .bottom_section .breakdown .excluding_tax_content .price:after {
  content: '-';
}
.receipt .bottom_section .breakdown .tax_content {
  height: 23%;
  padding-top: 5px;
  border-bottom: 1px solid #000;
  display: flex;
}
.receipt .bottom_section .breakdown .tax_content .tax {
  width: 60%;
}
.receipt .bottom_section .breakdown .tax_content .tax:before {
  content: '¥';
}
.receipt .bottom_section .breakdown .tax_content .tax:after {
  content: '-';
}
.receipt .bottom_section .breakdown .side {
  width: 40%;
}
.receipt .bottom_section .company_info {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 5px;
  right: 0;
}
.receipt .name, .receipt .postal_code, .receipt .address, .receipt .building, .receipt .tel {
  height: 20%;
}
.receipt .bottom_section .company_info .postal_code:before {
  content: '〒';
}
.receipt .bottom_section .company_info .tel:before {
  content: 'TEL：';
}

.stamp {
  position: absolute;
  right: 0;
  border: 1px dashed;
  height: 100%;
  width: 10%;
  padding: 10px 5px;

}



.approval_section {
  height: 15vh;
  margin-bottom: 70px;
}
.approval_section form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.approval {
  margin: 0 20px 0 15px;
  font-size: 30px;
  vertical-align: middle;
  cursor: pointer;
}
.approval input[type=checkbox] {
  transform: scale(2.5);
}
.send {
  height: 7vh;
  width: 35%;
  margin: 20px auto;
  border-radius: 3px;
  background-color: rgb(12, 12, 88);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: block;
  box-shadow:
    3px 3px 3px rgba(129, 133, 134, 0.7),
    -3px -3px 3px rgb(254, 255, 255),
    inset 1px 1px 3px rgba(222, 225, 226, 0.5);
}

.back_path {
  margin-bottom: 20px;
  text-align: center;
  display: block;
}


/* .receipt_show_main {
  width: 70%;
  height: 600px;
  margin: auto;
  background-color: rgb(214, 212, 212);
  margin-bottom: 30px;
  margin-top: 30px;
}

.receipt_main_tag {
  width: 100%;
  height: 17%;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.receipt_number {
  width: 100%;
  height: 10%;
  text-align: end;
  font-size: 30px;
  padding-right: 30px;
}

.receipt_name_date {
  display: flex;
  width: 100%;
  height: 12%;
  font-size: 50px;
}

.receipt_name {
  width: 50%;
  padding-left: 30px;
}

.receipt_date {
  width: 50%;
  text-align: end;
  padding-right: 30px;
}

.receipt_price {
  width: 100%;
  height: 24%;
  text-align: center;
  font-size: 80px;
  
}

.receipt_priviso {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.receipt_address {
  width: 40%;
  height: 30%;
  margin: 0 0 0 auto;
  padding-top: 10px;
  padding: 0.5em 1em;
  border: solid 1px #000000;
} */

.pdf_btn {
  background-color: #1bfae7;  /* 背景色指定 */
  width: 400px;               /* 幅指定 */
  height: 90px;               /* 高さ指定 */
  margin:  0 auto;            /* 中央寄せ */
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
}

/* 領収書作成 */

.receipt_detail {
  width: 60%;
  margin: auto;
  display: flex;
  padding-top: 40px;
  margin-bottom: 40px;
}

.receipt_user_name {
  margin: auto;
  font-size: 40px;
  color: coral;
}

.receipt_content {
  width: 60%;
  margin: auto;
  border: 1px solid;
  padding: 40px 40px;
}

.receipt_action {
  width: 80%;
  height: 60px;
  margin: auto;
  margin-top: 40px;
}

/* 領収書確認ページ */
.receipt_show {
  padding-bottom: 15px;
}

.receipt_from_confirmation form {
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.receipt_from_confirmation_content {
  position: relative;
}

.confirmation_btn {
  display: block;
}


.confirmation_submit {
  width: 500px;
  height: 50px;
  font-size: 25px;
  display: block;
  margin-left: 50px;
  margin-bottom: 50px;
}

.receipt_from_confirmation input[type=checkbox] {
  transform: scale(3.2);
  position: absolute ;
  top: 19px;
  left: 30%;
}


@media (max-width: 599px) {
  .recipts {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  
  /* 領収書詳細ページ */
  .receipt_show_main {
    width: 80%;
    height: 400px;
    margin: auto;
    background-color: rgb(214, 212, 212);
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .receipt_main_tag {
    width: 100%;
    height: 15%;
    font-size: 40px;
    text-align: center;
    padding-top: 6px;
  }
  
  .receipt_number {
    width: 100%;
    height: 10%;
    text-align: end;
    font-size: 20px;
    padding-right: 15px;
  }
  
  .receipt_name_date {
    display: flex;
    width: 100%;
    height: 12%;
    font-size: 30px;
  }
  
  .receipt_name {
    width: 50%;
    padding-left: 30px;
  }
  
  .receipt_date {
    width: 50%;
    text-align: end;
    padding-right: 15px;
    font-size: 20px;
  }
  
  .receipt_price {
    width: 100%;
    height: 22%;
    text-align: center;
    font-size: 60px;
  }
  
  .receipt_priviso {
    width: 100%;
    text-align: center;
    font-size: 17px;
    height: 10%;
  }
  
  .receipt_address {
    width: 40%;
    height: 30%;
    margin: 0 0 0 auto;
    padding-top: 10px;
    padding: 0.5em 1em;
    border: solid 1px #000000;
  }
  
  .pdf_btn {
    background-color: #1bfae7;  /* 背景色指定 */
    width: 400px;               /* 幅指定 */
    height: 90px;               /* 高さ指定 */
    margin:  0 auto;            /* 中央寄せ */
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
  }

  .confirmation_submit {
    width: 500px;
    height: 50px;
    font-size: 25px;
    display: block;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  .receipt_from_confirmation input[type=checkbox] {
    transform: scale(3.2);
    position: absolute ;
    top: 19px;
    left: 30%;
  }

  .reservation_informations .reservation_down_tag {
    margin-top: 20px;
    margin-bottom: -30px;
    font-size: 20px;
  }


/* 領収書詳細ページ */
.receipt {
  height: 95vh;
  width: 85vw;
  padding: 25px 40px;
  margin: 7px auto 25px;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  border-right-color: #999;
  border-left-color: #999;
  border-bottom-color: #999;
  border-top-color: #DADADA;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #999;
  color: #666;
}
.receipt .title {
  height: 8%;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
}
.receipt .top_section {
  height: 15%;
  margin-bottom: 20px;
  position: relative;
}
.receipt .top_section .number_content {
  font-size: 14px;
  display: flex;
  position: absolute;
  right: 0;
  top: 10;
}

.receipt .top_section .number {
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.receipt .top_section .date_content {
  font-size: 14px;
  display: flex;
  position: absolute;
  top: 30px;
  right: 0;
}

.receipt .date_content .side {
  width: 60px;
}

.receipt .top_section .date {
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: end;
}

.receipt .top_section .receiver {
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #000;
}
.receipt .top_section .receiver:after {
  content: '様';
  margin-left: 15px;
  font-size: 18px;
}
.receipt .middle_section {
  height: 25%;
  width: 100%;
  margin: 0 auto;
}
.receipt .price_content {
  height: 45%;
  margin: 0 auto;
  padding: 0 ;
  border-top: 2px solid #000;
  display: flex;
  /* align-items: center; */
}
.receipt .price_content .price {
  width: 60%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  margin-left: 33px;
}
.receipt .price_content .price:before {
  content: '¥';
}
.receipt .price_content .price:after {
  content: '-';
}
.receipt .price_content .side {
  width: 40%;
  font-size: 14px;
  text-align: center;
}

.side_tag {
  display: none;
}

.receipt .proviso_content {
  height: 20%;
  padding: 4px 20px 3px;
  border-top: 2px solid #000;
  font-size: 14px;
  display: flex;
}
.receipt .proviso_content .side {
  width: 20%;
}
.receipt .proviso_content .proviso {
  width: 80%;
  text-align: start;
}
.receipt .detail {
  width: 100%;
  height: 20%;
  padding: 4px 20px 3px;
  border-top: 2px solid #000;
  font-size: 14px;
}
.receipt .bottom_section {
  height: 46%;
  font-size: 14px;
  position: relative;
}
.receipt .bottom_section .breakdown {
  height: 23%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.receipt .bottom_section .breakdown .desc {
  height: 33%;
  border-bottom: 1px solid #000;
}
.receipt .bottom_section .breakdown .excluding_tax_content {
  height: 33%;
  padding-top: 2px;
  border-bottom: 1px solid #000;
  display: flex;
}
.receipt .bottom_section .breakdown .excluding_tax_content .price {
  width: 60%;
}
.receipt .bottom_section .breakdown .excluding_tax_content .price:before {
  content: '¥';
}
.receipt .bottom_section .breakdown .excluding_tax_content .price:after {
  content: '-';
}
.receipt .bottom_section .breakdown .tax_content {
  height: 33%;
  padding-top: 2px;
  border-bottom: 1px solid #000;
  display: flex;
}
.receipt .bottom_section .breakdown .tax_content .tax {
  width: 60%;
}
.receipt .bottom_section .breakdown .tax_content .tax:before {
  content: '¥';
}
.receipt .bottom_section .breakdown .tax_content .tax:after {
  content: '-';
}
.receipt .bottom_section .breakdown .side {
  width: 40%;
}
.receipt .bottom_section .company_info {
  height: 30%;
  width: 100%;
  position: absolute;
  top:30%;
  left: 0;
}
.receipt .name, .receipt .postal_code, .receipt .address, .receipt .building, .receipt .tel {
  height: 20%;
}
.receipt .bottom_section .company_info .postal_code:before {
  content: '〒';
}
.receipt .bottom_section .company_info .tel:before {
  content: 'TEL：';
}

.stamp {
  position: absolute;
  border: 1px dashed;
  height: 33%;
  width: 40%;
  top:69%;
}

.stamp_detail {
  width: 95%;
  margin: 0 auto;
}



.approval_section {
  height: 15vh;
  margin-bottom: 70px;
}
.approval_section form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.approval {
  margin: 0 20px 0 15px;
  font-size: 30px;
  vertical-align: middle;
  cursor: pointer;
}
.approval input[type=checkbox] {
  transform: scale(2.5);
}
.send {
  height: 7vh;
  width: 35%;
  margin: 20px auto;
  border-radius: 3px;
  background-color: rgb(12, 12, 88);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: block;
  box-shadow:
    3px 3px 3px rgba(129, 133, 134, 0.7),
    -3px -3px 3px rgb(254, 255, 255),
    inset 1px 1px 3px rgba(222, 225, 226, 0.5);
}

.back_path {
  margin-bottom: 20px;
  text-align: center;
  display: block;
}
}
