/* 領収書一覧 */
.reservation_informations {
  width: 80%;
  margin: 0 auto;
}

.reservation_informations .reservation_down_tag {
  margin-top: 20px;
  margin-bottom: -30px;
}

.reservation_deta {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.fa-clock-o {
  font-size: 25px;
}

.delete_url {
  color: #000000;
}

.recipt_information {
  width: 100%;
}

.reservation_deta {
  width: 100%;
}

.search-page__inner-right {
  width: 100%;
}

.recipt_information .calendar {
  border: 2px solid rgb(207, 207, 207);
  height: 135px;
  padding: 0;
}

.information_food {
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 2px 0;
  height: 20%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.information_explanation1 {
  height: 80%;
  width: 99%;
  padding: 3px 0;
}

.information_explanation {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reservation_informations h2 {
  font-size: 25px;
  margin-top: 60px;
  border: 1px solid rgb(204, 203, 203);
  text-align: center;
  height: 150px;
  padding-top: 55px;
  border-radius: 4px;/*角の丸み*/
}

/* 領収書詳細ページ */
.receipt_show_main {
  width: 70%;
  height: 600px;
  margin: auto;
  background-color: rgb(214, 212, 212);
  margin-bottom: 30px;
  margin-top: 30px;
}

.receipt_main_tag {
  width: 100%;
  height: 17%;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
}

.receipt_number {
  width: 100%;
  height: 10%;
  text-align: end;
  font-size: 30px;
  padding-right: 30px;
}

.receipt_name_date {
  display: flex;
  width: 100%;
  height: 12%;
  font-size: 50px;
}

.receipt_name {
  width: 50%;
  padding-left: 30px;
}

.receipt_date {
  width: 50%;
  text-align: end;
  padding-right: 30px;
}

.receipt_price {
  width: 100%;
  height: 24%;
  text-align: center;
  font-size: 80px;
  
}

.receipt_priviso {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.receipt_address {
  width: 40%;
  height: 30%;
  margin: 0 0 0 auto;
  padding-top: 10px;
  padding: 0.5em 1em;
  border: solid 1px #000000;
}

.pdf_btn {
  background-color: #1bfae7;  /* 背景色指定 */
  width: 400px;               /* 幅指定 */
  height: 90px;               /* 高さ指定 */
  margin:  0 auto;            /* 中央寄せ */
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
}

/* 領収書作成 */

.receipt_detail {
  width: 60%;
  margin: auto;
  display: flex;
  padding-top: 40px;
  margin-bottom: 40px;
}

.receipt_user_name {
  margin: auto;
  font-size: 40px;
  color: coral;
}

.receipt_content {
  width: 60%;
  margin: auto;
  border: 1px solid;
  padding: 40px 40px;
}

.receipt_action {
  width: 80%;
  height: 60px;
  margin: auto;
  margin-top: 40px;
}

/* 領収書確認ページ */
.receipt_show {
  padding-bottom: 15px;
}

.receipt_from_confirmation form {
  width: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.receipt_from_confirmation_content {
  position: relative;
}

.confirmation_btn {
  display: block;
}


.confirmation_submit {
  width: 500px;
  height: 50px;
  font-size: 25px;
  display: block;
  margin-left: 50px;
  margin-bottom: 50px;
}

.receipt_from_confirmation input[type=checkbox] {
  transform: scale(3.2);
  position: absolute ;
  top: 19px;
  left: 30%;
}


@media (max-width: 599px) {
  .recipts {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  
  /* 領収書詳細ページ */
  .receipt_show_main {
    width: 80%;
    height: 400px;
    margin: auto;
    background-color: rgb(214, 212, 212);
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .receipt_main_tag {
    width: 100%;
    height: 15%;
    font-size: 40px;
    text-align: center;
    padding-top: 6px;
  }
  
  .receipt_number {
    width: 100%;
    height: 10%;
    text-align: end;
    font-size: 20px;
    padding-right: 15px;
  }
  
  .receipt_name_date {
    display: flex;
    width: 100%;
    height: 12%;
    font-size: 30px;
  }
  
  .receipt_name {
    width: 50%;
    padding-left: 30px;
  }
  
  .receipt_date {
    width: 50%;
    text-align: end;
    padding-right: 15px;
    font-size: 20px;
  }
  
  .receipt_price {
    width: 100%;
    height: 22%;
    text-align: center;
    font-size: 60px;
  }
  
  .receipt_priviso {
    width: 100%;
    text-align: center;
    font-size: 17px;
    height: 10%;
  }
  
  .receipt_address {
    width: 40%;
    height: 30%;
    margin: 0 0 0 auto;
    padding-top: 10px;
    padding: 0.5em 1em;
    border: solid 1px #000000;
  }
  
  .pdf_btn {
    background-color: #1bfae7;  /* 背景色指定 */
    width: 400px;               /* 幅指定 */
    height: 90px;               /* 高さ指定 */
    margin:  0 auto;            /* 中央寄せ */
    padding-top: 30px;
    text-align: center;
    font-size: 25px;
  }

  .confirmation_submit {
    width: 500px;
    height: 50px;
    font-size: 25px;
    display: block;
    margin-left: 50px;
    margin-bottom: 50px;
  }
  
  .receipt_from_confirmation input[type=checkbox] {
    transform: scale(3.2);
    position: absolute ;
    top: 19px;
    left: 30%;
  }

}
