.informaton_show_content {
  padding: 30px 30px;
  display: flex;
}

.show_store_name {
  display: none;
}

.information_img_calender_contents {
  width: 50%;
}

.top_img_box {
  height: 50%;
  width: 95%;
}

.information-show-box-img {
  height: 100%;
  width: 100%;
}

.informaton_show_content_calender {
  height: 50%;
  width: 95%;
}

.yoyakukanou1 {
  display: inline;
}


.calendar-heading {
  width: 100;
  font-size: 30px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px; 
}

.goyoyaku {
  font-size: 20px;
  padding-top: 15px;
}

.information_kihon {
  width: 55%;
}



.information_kihon table{
  width: 100%;
  border-collapse: collapse;
}

.information_kihon table tr{
  border-bottom: solid 2px white;
}

.information_kihon table tr:last-child{
  border-bottom: none;
}

.information_kihon table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 20px 3px;
  
}

.information_kihon table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #52c2d0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
}

.information_kihon table td{
  text-align: center;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 10px;
  border: none;
}

.information_show_imges {
  width: 90%;
  margin: 40px auto;
  
}

.information_show_contents_img_box {
  height: 300px;
  width: 100%;
}

.imags_tags {
  height: 50px;
  font-size: 30px;
  color: coral;
  padding-left: 100px;
  
}

.information_show_detail_img {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 80%;
  padding-left: 30px;
}

.information-box-img2 {
  width: calc(90%/3);
  height: 100%;
  padding-left: 40px;
  
}

/* 編集・削除ボタン */
.btn {
  text-align: center;
}

.information_edit_btn {
  text-decoration: none;
  font-size: 35px;
  color: #fff;
  border: 1px solid;
  padding: 10px 6px;
  margin: 0 10px;
  background-color:  #52c2d0;
  border-radius: 10px;
}

@media (max-width: 599px) {
  .informaton_show_content {
    padding: 10px 30px;
    display: block;
  }

  .show_store_name {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    font-size: 30px;
  }

  .information_img_calender_contents {
    width: 100%;
  }

  .top_img_box {
    height: 50%;
    width: 95%;
  }
  
  .information-show-box-img {
    height: 100%;
    width: 100%;
  }
  
  .informaton_show_content_calender {
    height: 100%;
    width: 95%;
  }

  .informaton_show_content_calender {
    height: 100%;
    width: 95%;
  }

  .calendar-heading {
    width: 100;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px; 
  }


.information_kihon {
  width: 100%;
}

.information_show_imges {
  width: 90%;
  margin: 25px auto;
  
}

.information_show_contents_img_box {
  height: 200px;
  width: 100%;
}

.imags_tags {
  height: 39px;
  font-size: 20px;
  color: coral;
  padding-left: 100px;
  
}

.information_show_detail_img {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 80%;
  padding-left: 30px;
}

.information-box-img2 {
  width: calc(90%/3);
  height: 100%;
  padding-left: 40px;
  
}


  }

