/*タブ切り替え全体のスタイル*/
.tabs {
  height: 70px;
  background-color: #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
}

.tabs .search_text_secondary{
  width: 30%;
  padding-left: 7rem;
  padding-top: 6px;
}

.tabs .root_url {
  color: #043296;
  font-size: 1em;
  padding-top: 3px;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab-item {
  padding-top: 8px;
  width: calc(70%/3);
  border-bottom: 3px solid  rgb(94, 94, 94);
  background-color:  #d8d8d8;
  color: #565656;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  display: block;
  float: left;
  transition: all 0.2s ease;
}

.tab-item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab-item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab-content {
  height: 580px;
  padding: 0 40px;
  clear: both;
  overflow: scroll;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab-item {
  background-color: rgb(94, 94, 94);
  color:#fff;
}
