/*タブ切り替え全体のスタイル*/
/* --- ヘッダー --- */

.tabs {
  height: 75px;
  border-top: 5px solid #000;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  display: flex;
}

.tabs .search_text_secondary{
  width: 40%;
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-left: 140px;
}

.tabs .root_url {
  color: #043296;
  font-size: 40px;
}

/*タブのスタイル*/
.tab-item {
  width: calc(60%/3);
  padding-top: 23px;
  color: rgb(85, 85, 85);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.tab-item:hover {
  opacity: 70%;
}
.tab-item:before {
  content:"";
  display:inline-block;
  width: 2px;
  height: 40px;
  background-color: rgb(199, 199, 199);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  box-shadow:
    2px 2px 5px rgba(255, 255, 255, 0.5),
    -2px -2px 5px rgba(255, 255, 255, 0.5),
    inset 0.1px 1px 1px rgba(255, 255, 255, 0.5),
    inset 0.1px 1px 1px rgba(255, 255, 255, 0.5);
}


/*ラジオボタンを全て消す*/
input[name="tab-item"] {
  display: none;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab-item {
  border-bottom: 3px solid rgba(85, 85, 85, 0.9);
}

@media (max-width: 599px) {
  .tabs {
    height: 60px;
    border-top: 3px solid #000;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
    display: flex;
  }
  
  .tabs .search_text_secondary{
    width: 40%;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-left: 40px;
  }
  
  .tabs .root_url {
    color: #043296;
    font-size: 20px;
  }

  .tab-item {
    width: calc(70%/3);
    padding-top: 20px;
    color: rgb(85, 85, 85);
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
  }

}
