/* ユーザーのshow */
.tweet {
  width: 100vw;
}

.tweet_contents {
  width: 100%;
  margin: auto;
}

.tweet_content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.tweet_user_tag {
  width: 100%;
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
  color: #fff;
}

.tweet_detail_content {
  width: calc(90% / 3);
  border: 1px solid;
  margin: 10px 10px;
  background-color:  rgb(250, 224, 191);
}

.tweet_content_img {
  padding: 30px 30px 0 30px;
}

.item_img_top {
  width: 100%;
  height: 300px;
}

.tweet_content_text {
  text-align: center;
  height: 200px;
  margin: 30px 30px 0 30px;
  font-size: 20px;
  background-color: #fff;
}

.tweet_content_date {
  display: flex;
  justify-content: space-between;
}

.more {
  margin-left: 30px;
}

.tweet_content_time {
  margin-right: 30px;
}

/* ツイート詳細 */
.tweet_show {
  width: 50%;
  height: 60%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;/*角の丸み*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #e6f4ff;
}

.card__user {
  text-decoration: none;
  color: orange;
}

.tweet_show_user {
  text-align: center;
  font-size: 30px;
  color: coral;
  margin-top: 30px;
  margin-bottom: 20px;

}

.tweet_name {
  text-align: center;
  font-size: 30px;
  color: coral;
}

.tweet_show_img {
  height: 40%;
  width: 50%;
  margin: auto;
}

.item-img-show {
  width: 100%;
  height: 100%;
}

.tweet_text {
  text-align: center;
  
  width: 50%;
}

.more {
  text-align: end;
}

/* ツイート投稿ページ */
.tweet_form_grp {
  width: 40%;
  margin: auto;
}

.tweet_form_grp_tag {
  text-align: center;
  font-size: 30px;
  color: darkgoldenrod;
}

.tweet_form_grp_name {
  width: 100%;
}

.tweet_form_grp_name_tag {
  font-size: 20px;
  color: coral;
}
.tweet_form_grp_name_form {
  width: 100%;
}

.tweet_form_grp_name_form_field {
  width: 100%;
  height: 50px;
}

.tweet_form_grp_text_form_field {
  width: 100%;
  height: 250px;
}

.tweet_form_grp_img_tag {
  width: 50%;
  margin: 0 0 0 auto;
  height: 100px;
}

.tweet_form_btn{
  width: 100%;
  height: 50px;
  font-size: 30px;
  background-color: cyan;
}

@media (max-width: 599px) {
  .tweet {
    width: 100vw;
  }
  
  .tweet_contents {
    width: 100%;
    margin: auto;
  }
  
  .tweet_content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
  
  .tweet_user_tag {
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    color: #fff;
  }
  
  .tweet_detail_content {
    width: calc(90% / 3);
    border: 1px solid;
    margin: 10px 10px;
    background-color:  rgb(250, 224, 191);
  }
  
  .tweet_content_img {
    padding: 15px 15px 0 15px;
  }
  
  .item_img_top {
    width: 100%;
    height: 150px;
  }
  
  .tweet_content_text {
    text-align: center;
    height: 100px;
    margin: 15px 15px 0 15px;
    font-size: 15px;
    background-color: #fff;
  }
  
  .tweet_content_date {
    display: flex;
    justify-content: space-between;
  }
  
  .more {
    margin-left: 30px;
  }
  
  .tweet_content_time {
    margin-right: 30px;
  }

  /* ツイート詳細 */
  .tweet_show_img {

    height: 33vh;
    width: 38vw;
    margin: auto;
  }
}